# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.*

# testing
coverage/

# next.js e build outputs
.next/
out/
build/
dist/
next-env.d.ts

# opennext e cloudflare (Muito importante para o seu painel)
.open-next/
.wrangler/

# turbo
.turbo/

# vercel
.vercel/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (nunca enviar senhas para o github)
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo